# Todo App - Python Integration with Convex Backend

This notebook demonstrates how to interact with a Convex backend from Python to manage todo items.

## Overview
- **Convex**: A backend-as-a-service that provides real-time database and API functionality
- **Goal**: Insert todo items into the Convex database using Python HTTP requests
- **Authentication**: Uses environment variables for secure configuration

## 1. Import Required Libraries

We need these libraries for our todo app integration:

In [ ]:
%pip install requests pandas dotenv

In [2]:
import requests
import os
import pandas as pd
from dotenv import load_dotenv

## 2. Load Environment Configuration

In [3]:
load_dotenv('./.env.local')
CONVEX_URL = os.getenv('CONVEX_URL')

## 3. Create Todo Function

In [4]:
def create_todo(user_id: str, title: str, description: str = None, is_completed: bool = False):
    todo = {
        "user_id": user_id,
        "title": title,
        "description": description,
        "is_completed": is_completed
    }
    
    payload = {
        "path": "todoFunc:saveTodo",
        "args": todo,
        "format": "json"
    }
    
    response = requests.post(f"{CONVEX_URL}/api/mutation", json=payload)
    return response.json() if response.status_code == 200 else None

#### Create a todo

In [7]:
# Create a new todo for user "akib"
response = create_todo("akib", "Khalid Muntasir", "Khalid Muntasir Jante chay")
print("Create response:", response)

Create response: {'status': 'success', 'value': 'j579qvs9g41dm80ttcaw723bnx7tev6z'}

In [17]:
# Create a new todo for user "ashik123"
response = create_todo("ashik123", "Buy groceries", "Milk, eggs, bread")
print("Create response:", response)

Create response: {'status': 'success', 'value': 'j57abcd0zs8fw927171rcdr0cx7tewmm'}

## 4. Get Todos as DataFrame

In [ ]:
def get_todos_dataframe(user_id: str, is_completed: bool = None):
    """Return todos as pandas DataFrame for statistical analysis"""
    
    if is_completed is None:
        payload = {
            "path": "todoFunc:getAllTodos",
            "args": {"user_id": user_id},
            "format": "json"
        }
    else:
        payload = {
            "path": "todoFunc:getTodos",
            "args": {"user_id": user_id, "is_completed": is_completed},
            "format": "json"
        }
    
    response = requests.post(f"{CONVEX_URL}/api/query", json=payload)
    
    if response.status_code == 200 and response.json()["status"] == "success":
        todos = response.json()["value"]
        if todos:
            df = pd.DataFrame(todos)
            df['creation_date'] = pd.to_datetime(df['_creationTime'], unit='ms')
            return df
    
    return pd.DataFrame()

,_creationTime,_id,description,is_completed,title,user_id,creation_date
0,1.761775e+12,j57240agfd2echa8pnnaga6ceh7tda4g,This is a another todo,False,This is a todo,ashik123,2025-10-29 21:58:42.953203125
1,1.761776e+12,j573gxzdtsh9rth0kefc3gch157tc8tn,This is a another todo,False,This is a todo,ashik123,2025-10-29 22:08:20.481326904
2,1.761776e+12,j5764cvwck9bp1vba6v0bh83v57tdxcq,Complete tutorial,False,Learn Python,ashik123,2025-10-29 22:17:20.379548584
3,1.761776e+12,j579e7f59pzhvv88d2j38m3fch7tdvjz,Complete tutorial,False,Learn Python,ashik123,2025-10-29 22:20:49.810487061
4,1.761835e+12,j57b6r3h20ppb9cxzw056mvky17teh82,"Milk, eggs, bread",False,Buy groceries,ashik123,2025-10-30 14:42:20.122041504

In [8]:
# Get all todos as DataFrame
todos_df = get_todos_dataframe("ashik123")
todos_df

,_creationTime,_id,description,is_completed,title,user_id,creation_date
0,1.761775e+12,j57240agfd2echa8pnnaga6ceh7tda4g,This is a another todo,False,This is a todo,ashik123,2025-10-29 21:58:42.953203125
1,1.761776e+12,j573gxzdtsh9rth0kefc3gch157tc8tn,This is a another todo,False,This is a todo,ashik123,2025-10-29 22:08:20.481326904
2,1.761776e+12,j5764cvwck9bp1vba6v0bh83v57tdxcq,Complete tutorial,False,Learn Python,ashik123,2025-10-29 22:17:20.379548584
3,1.761776e+12,j579e7f59pzhvv88d2j38m3fch7tdvjz,Complete tutorial,False,Learn Python,ashik123,2025-10-29 22:20:49.810487061
4,1.761835e+12,j57b6r3h20ppb9cxzw056mvky17teh82,"Milk, eggs, bread",False,Buy groceries,ashik123,2025-10-30 14:42:20.122041504

In [9]:
# Get all todos as DataFrame
todos_df = get_todos_dataframe("akib")
todos_df

,_creationTime,_id,description,is_completed,title,user_id,creation_date
0,1.761840e+12,j579qvs9g41dm80ttcaw723bnx7tev6z,Khalid Muntasir Jante chay,False,Khalid Muntasir,akib,2025-10-30 15:53:45.112638916

In [15]:
def get_Everything_dataframe():
    """Return todos as pandas DataFrame for statistical analysis"""
    
    
    payload = {
        "path": "todoFunc:getEverything",
        "args": {},
        "format": "json"
    }
    
    
    response = requests.post(f"{CONVEX_URL}/api/query", json=payload)
    
    if response.status_code == 200 and response.json()["status"] == "success":
        todos = response.json()["value"]
        if todos:
            df = pd.DataFrame(todos)
            df['creation_date'] = pd.to_datetime(df['_creationTime'], unit='ms')
            return df
    
    return pd.DataFrame()

In [18]:
# Get all todos as DataFrame
todos_df = get_Everything_dataframe()
todos_df

,_creationTime,_id,description,is_completed,title,user_id,creation_date
0,1.761835e+12,j570sr6daq02nggc4tgqd4jpdd7teax8,Khalid Muntasir Jante Chay,False,Khalid Muntasir,akib,2025-10-30 14:40:11.481320068
1,1.761840e+12,j57abcd0zs8fw927171rcdr0cx7tewmm,"Milk, eggs, bread",False,Buy groceries,ashik123,2025-10-30 16:07:54.561742432